.navi-avatar {
  height: 100px;
  width: 100px;
  border: 1px solid #d1d1d1;
  border-radius: $border-radius;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center; // i should make a mixin...
  img {
    max-width: 100px;
    max-height: 100px;
  }
}
