@import './theme.scss';

@import './mixins.scss';
@import './basic.scss';
@import './layout.scss';

// now, each component
@import './menu/index.scss';
@import './footer.scss';

// and our ui components
@import './ui/buttons.scss';
@import './ui/inputs.scss';
@import './ui/label.scss';
@import './ui/control.scss';
@import './ui/box.scss';
@import './ui/titles.scss';
@import './ui/tab.scss';
@import './ui/avatar.scss';
@import './ui/table.scss';

// page specific (todo: load them dynamically instead of all at once, it WILL overload a Pentium II)
@import './pages/login.scss';
@import './pages/forum.scss';
@import './pages/profile.scss';
@import './pages/admin.scss';
@import './pages/pda.scss';
@import './pages/search.scss';

//here remains the work in progress from the mockup
//edit: this was such a bad idea leaving this here... now my theme depends on it
#content {
  padding: 1em;
  background-color: #fff;
  border: 1px solid #2e2775;
  border-top: none;
  border-radius: 0 0 0.5em 0.5em;

  display: flex;
  flex-direction: column;
  gap: 1em;
}

.category {
  color: #fff;
  background: linear-gradient(to bottom, #6fd0ff 0%, #2e8fe8 45%, #0b57c7 100%);
  border-radius: 0.5em 0.5em 0 0;
  padding: 0.2em 0.5em;
  text-shadow: -1px -1px 0 #000;
  box-shadow:
    inset 0px 1px 0px rgba(255, 255, 255, 0.486),
    0 0 5px rgba(0, 0, 0, 0.452);

  font-weight: 400;
  font-size: 0.9em;

  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.categoryBox {
  border: 1px solid #2d27758e;
  border-radius: 0.5em;
  font-size: 0.83em;
}

.subCategoryRow {
  display: flex;
  gap: 0.5em;
}

.subCategory {
  text-decoration: none;
  color: #000;
  display: flex;
  gap: 0.5em;
  flex: 1;
  min-width: 0;
}

.subCategory:hover > .subCategoryText {
  text-decoration: underline;
}

.subCategory h3 {
  color: #214acd;
}
