$globalTextShadow: 0px 0px 5px #0000008a;
$globalBackgroundedTextColor: #fff;
$globalFont: 'Open Sans', sans-serif;
$globalLinkColor: #214acd;

$spacing: 1em;
$spacing-small: 0.5em;

$border-radius: 0.5em;

$accentColor: #6fd0ff;
$midAccentColor: #2e8fe8;
$secondAccentColor: #0b57c7;
