.mainMenu .menuLinks a.home {
  background-image: url('icons/gnome-fs-home.png');
}
.mainMenu .menuLinks a.login {
  background-image: url('icons/stock_exit.png');
}
.mainMenu .menuLinks a.register {
  background-image: url('icons/stock_save.png');
}
.mainMenu .menuLinks a.user {
  background-image: url('icons/config-users.png');
}
.mainMenu .menuLinks a.logout {
  background-image: url('icons/stock_exit.png');
}
.mainMenu .menuLinks a.search {
  background-image: url('icons/stock_search.png');
}
.mainMenu .menuLinks a.pda {
  background-image: url('icons/music-player-24.png');
}
